{% extends "base.html" %}
{% block title %} &ndash; About FotoRatan{% endblock %}
{% block main %}
<div class="page">
<h1 class="page-tit">The Best Image Gallery Application Host on Google App Engine</h1>
<h2 class="page-sub-tit">Build Your Own Simple Beautiful Image Gallery By FotoRatan (图藤)</h2>

<img src="http://fotoratan.appspot.com/image/2001/" />

<p><strong><a href="http://fotoratan.appspot.com">FotoRatan</a><span class="cn-name">(图藤)</span></strong> is an open source software package for creating and supporting image hosting. It's written in Python and running on Google App Engine, which is a free and robust cloud hosting infrastructure.</p>

<p><strong><a href="http://fotoratan.appspot.com">FotoRatan.appspot.com</a></strong>, also a demo for FotoRatan. It shows Some Friends' high-quality original work. If you are interested in the image of your work published here, please send to: <strong class="contact-link"><a href="mailto:linuximo@gmail.com">linuximo@gmail.com</a></strong>. </p>

<p>Of course, you can use this tool, based on the Google App Engine cloud computing systems to build your own album, please see: <strong><a href="/plans">Plans and Pricing</a></strong></p>

<p>FotoRatan is based on GAE image hosting program <strong><a href="http://code.google.com/p/diabloimage">diabloimage</a></strong> created, <strong>diabloimage</strong> under <a href="http://www.gnu.org/licenses/lgpl.html">GNU Lesser General Public License</a>, the author is <a href="http://sa3.org/">benmao</a>.</p>

<p>You can find the project in <strong><a href="http://github.com/Quasimo/FotoRatan/" target="_blank">github</a></strong>.</p>

<p>Thank you!</strong></p>
</div>
{% endblock %}
</body>
</html>
