<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FotoRatan &ndash; GAE iMage Gallery{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="description" content="Best photo / image gallery host on Google App Engine (GAE).">
<!--         <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/queries/netbooks-tablets.css" type="text/css" media="screen and (max-width: 1007px)" /> -->               
            
        

		<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
		<link href="/static/stylesheets/reset.css" rel="stylesheet" type="text/css" />
		<!-- <link rel="stylesheet" media="all" href="less.css" /> -->
		<link href="/static/stylesheets/button.css" rel="stylesheet" type="text/css" />
		<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
		
		<!--[if IE 7]><link rel="stylesheet" href="/static/stylesheets/ie7.css" type="text/css" media="screen"><![endif]-->
        <!--[if lt IE 7]><link rel="stylesheet" href="/static/stylesheets/ie6.css" type="text/css" media="screen"><![endif]-->
		
		<link href="/static/themes/ratanapp/style.css" rel="stylesheet" type="text/css" media="screen" />
		
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<script type="text/javascript" src="/static/main.js"></script>
	</head>
    <body>
    	<div id="root">
    	
    	<div id="header">
    		<div id="logo">
    			<h1 id="site-name">
    				<a href="/">FotoRatan</a>
    			</h1>
    		</div>
    		<div id="menu">
    		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<!-- <li><a href="/fourm">Fourm</a></li> -->
			</ul>
			<div class="clear"></div>
			</div>
				
    	</div>
    	<!-- header end -->
 
    	
    	<div class="container">
        <div id="main">
        {% block main %}{% endblock %}
        </div>
        </div>
        <br class="clear" />
        <div id="footer">
            <p class="footnote"> <strong><a href="/">FotoRatan</a></strong> &copy; 2010, Power by <a href="http://fotoratan.appspot.com">FotoRatan</a>&ndash;<a href="http://fotoratan.appspot.com/about">GAE image gallery</a> base on <a href="http://code.google.com/p/diabloimage">diabloimage</a> Hosted on Google App Engine. <a href="{{logout}}">sign out</a></p>
            
        </div>
        
        </div>
    </body>
</html>
